.mainRow {
  display: flex;
  justify-content: center;
}

.questionHeader {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
}
.loginCol {
  padding: 10px;
  box-shadow: -3px 0px 20px 0px;
  background-color: #bed01b;
  border-radius: 15px;
  margin: 80px 0px 0px 0px;
}
.success {
  justify-content: center;
  margin: 10px;
}
.mainHead {
  display: flex;
  justify-content: center;
}
.btnRow {
  justify-content: center;
  display: flex;
}
